fastapi
uvicorn
pydantic
pandas
deep-translator
groq
langchain-groq
faiss-cpu
langchain-community
langchain-huggingface
langchain-core
langchain-text-splitters
python-dotenv
python-multipart
pymupdf
pytesseract
