fastapi
uvicorn
pydantic
PyPDF2
pandas
deep-translator
groq
langchain-groq
langchain-chroma
langchain-huggingface
sentence-transformers
langchain-core
langchain-text-splitters
python-dotenv
python-multipart
pymupdf
pytesseract
